<div class="banner-colored">
    Refill by wallet facilities
</div>
<table class="table-colored">
    <tr>
        <td>Pay as you use
        </td>

    </tr>
    <tr>
        <td>No hidden charge
        </td>

    </tr>
    <tr>
        <td>No extra service charge
        </td>

    </tr>
    <tr>
        <td>Recharge any mobile with any amount in one click
        </td>

    </tr>
</table>
