@{
    ViewBag.Title = "help_center";
}

<p style="font: 14px Tahoma; color: red">What is "Instant Mobile Refill"?</p>
<p style="font: 12px Tahoma; color: black">
    Instant refill is a way where you can refill any mobile without any money in your paymobd.com account/wallet.
    Here after clicking "Refill Now" button, you will be directed to the payment page.
    You don't have to register or login to use this option. But ofcourse registered users can use this option too.
</p>
<img src="~/Content/instant_refill.png" height="200" width="350" alt="instant bangladeshi mobile refill" />
<p style="font: 12px Tahoma; color: black">
    Use the above part of PayMoBD website for instant refill/recharge your mobile. After entering mobile number and 
    seleting amount you should click "Refill Now" button of this part.
</p>

<p style="font: 14px Tahoma; color: red">What is Wallet?</p>
<p style="font: 12px Tahoma; color: black">
    Wallet is an unique feature of paymobd.com which makes us different from others in the same business. Wallet 
    is a technique of deposit your money in paymobd account and using it whenever you like. If you use "wallet money"
    for refill/recharge mobile or buying internet cards, you will not transfer to the payment page all the time, 
    which reduces the tranfer ammount to pay while refill/recharge mobiles.
</p>

<p style="font: 14px Tahoma; color: red">How can I refill/recharge my Wallet?</p>
<img src="~/Content/deposit_wallet.png" height="200" width="350" alt="bangladeshi mobile recharge" />
<p style="font: 12px Tahoma; color: black">
    Use the above part of PayMoBD website to deposite money in your paymobd Wallet. After selecting the amount you
    should click "Refill Wallet" button of this part.     
</p>

<p style="font: 14px Tahoma; color: red">How can I refill/recharge mobiles using wallet money?</p>
<img src="~/Content/wallet_refill.jpg" height="200" width="350" alt="bangladeshi mobile recharge" />
<p style="font: 12px Tahoma; color: black">
    In the above part of PayMoBD website fill out the mobile number and click "Refill Now" to refill/recharge
    mobiles using your wallet money. Minimum BDT 100 is needed in your wallet to refill mobiles using wallet money.    
</p>

<p style="font: 14px Tahoma; color: red">How can I buy Banglalion/Quebee internet pre-paid cards?</p>
<p style="font: 12px Tahoma; color: black">
    You can buy Banglalion and/or Quebee internet pre-paid cards with your wallet money. You have to refill your
    wallet first to buy these cards. After you order you will get card numbers directly in the website. Menimum
    BDT 300 is needed in your wallet to buy these cards. Only registered users can get this facility after logging 
    in their accounts.    
</p>
<img src="~/Content/buy_cards.png" height="200" width="350" alt="bangladeshi mobile recharge" />
<p style="font: 12px Tahoma; color: black">
    Use the above part of PayMoBD website to buy Banglalion/Quebee pre-paid cards. After selecting your operator
    you should click "Buy Pre-paid Card" button
</p>
<p style="font: 14px Tahoma; color: red">Can I keep track of my orders?</p>
<p style="font: 12px Tahoma; color: black">
    You can keep track of your orders after login to your account using your username and password. After logged 
    in, you will get all your refill informations in "My Refills" option. Only registered users can have this 
    facility.    
</p>
<img src="~/Content/refill_history.png" height="300" width="450" alt="bangladeshi mobile recharge" />
<p style="font: 12px Tahoma; color: black">
    Above is a snap shot of "My Refills".    
</p>
<p>
    @Html.ActionLink("<< My Profile", "myprofile", "Home")
</p>