@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <a>Your order will be proccessed in a short time. 
        Please check your order status in your refill history.</a>
</div>
<p>
    @Html.ActionLink("<< New Order","myprofile","Home")

</p>
