@{
    ViewBag.Title = "Thank_You";
}

<p>Thank you for purchasing from PayMoBd.com. Your transection will be delivered within a short time. Click below to
update your profile:</p>

@using (Html.BeginForm("Thank_You_post","Home"))
{ 
<input type="submit" value="Update my Profile" />

}
