@{
    ViewBag.Title = "password_retrival";
}

<h2>Password Retrival Form</h2>
<div id="retrival">
    @using (Ajax.BeginForm("password_retrival", "Account", new AjaxOptions
{
    UpdateTargetId = "retrival",
    InsertionMode = InsertionMode.Replace,
    LoadingElementId = "ajaxloader1",
    HttpMethod = "POST"
}))
    {
        <a style="font:14px Tahoma">Enter your e-mail address:</a>
        <input type="text" name="retrival_email" />
        <input type="submit" value="Send Password" />
    }
</div>
<div id="ajaxloader1">
    <img src="~/Content/ajax-loader.gif" />

</div>