@{
    ViewBag.Title = "Register_error";
}

<h2>One or more informations were incorrect. PLease go back and fill the form again for successfully registered.</h2>
<p>@Html.ActionLink("Go Back","Index","Home")</p>
