<div class="banner-colored">
        Refill by Wallet rates
    </div>
    <table class="table-colored">
        <tr>
            <th>
                BDT
            </th>
            <th>
                USD
            </th>
        </tr>
        <tr>
            <td>
                100
            </td>
            <td>
                1.25
            </td>
        </tr>
        <tr>
            <td>
                200
            </td>
            <td>
                2.50
            </td>
        </tr>
        <tr>
            <td>
                300
            </td>
            <td>
                3.75
            </td>
        </tr>
        <tr>
            <td>
                400
            </td>
            <td>
                5.00
            </td>
        </tr>
        <tr>
            <td>
                500
            </td>
            <td>
                6.25
            </td>
        </tr>
        <tr>
            <td>
                X00
            </td>
            <td>
                X * 1.25
            </td>
        </tr>
    </table>